@use '../variables' as v;
@use "../mixins" as m;
@use "breakpoints" as b;

.card-wrapper {

    display: flex;
    flex: 0 0;
    align-self: stretch;
    padding: v.$pad-xs;

    // Calling environment for breakpoint mixin.
    // All the style rules in the curly braces on '@include' will be passed into the
    // `@content` tag in the mixin declaration.
    @include b.xs {
        flex-basis: 100%;
    }

    @include b.sm {
        flex-basis: 50%;
    }

    @include b.lg {
        flex-basis: 33%;
    }
}

.card {

    // '&' references to the parent selector which in this case, is '.card'.
    & {
        @include m.flex-justify-align(center, start);
        flex-direction: column;
        padding: v.$basePad;
        border: v.$baseBorderWidth solid #c0c0c073;
        box-shadow: v.$baseShad;
        border-radius: v.$rounded;
        transition: all .8s cubic-bezier(0.075, 0.82, 0.165, 1);
        gap: 10px;
    }

    &:hover {
        background-color: #000;
    }

    &:hover>* {
        color: #fff;
        opacity: 1;
    }

    &:hover button {
        background-color: #fff;
        color: #000
    }

    // Nesting. this is equivalent to '.card .card-title'.
    .card-title {
        font-size: v.$font-md;
        padding-bottom: v.$pad-sm;
        font-weight: bold;
    }

    .card-desc {
        font-size: v.$font-sm;
    }
}