@use 'variables' as v;
@use 'mixins' as m;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: v.$poppins;
}

button {
    text-decoration: none;
    border: 0;
}

main {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    padding: v.$basePad * 2 v.$basePad;
    height: fit-content;
}

section {
    @include m.flex-justify-align(start, start);
    flex-flow: column wrap;
    background-color: beige;
    width: 100%;
    flex: 1 1;
    padding: v.$mediumPad 0;

    .card-list-wrapper {
        display: flex;
        justify-content: start;
        align-items: start;
        flex-wrap: wrap;
        width: 100%;
    }
}